.profile-container {
    width: 100%;
    max-width: 1180px;
    margin: 32px auto;
    padding: 0 30px;

}

.profile-container header {
    width: 100%;
    max-width: 1124px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;


}

.profile-container header .logo-img {
    margin: 0px;
    height: 46px;
    margin-right: 20px;
}

span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.profile-container header .button {
    width: 260px;
    margin-left: auto;
    margin-top: 0px;
}

.profile-container header button {
    width: 60px;
    height: 60px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    transition: border-color 0.2s;
}

.profile-container button:hover {
    border-color: #999;
}

.profile-container ul {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    grid-gap: 24px;
}

.profile-container li {
    border: 1px solid #999;
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    font-size: 18px;
}

.profile-container li svg {
    position: absolute;
    top: 24px;
    right: 24px;
    transition: opacity 0.2s;
}

.profile-container li svg:hover {
    opacity: 0.8;
}

.profile-container li p {
    margin: 10px 0px 30px 0px;
}
